.home-header-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
  flex: 1;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
